#jumpMenu {
    position: fixed;     
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;      
    color: black;
    background-color: gold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;           
}

main {
    margin-left: 220px;
}

/*header { 
  position: sticky;
  top: 0;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
} */

header {
    position: sticky;
    top 0;
    display: flex;
    flex-direction: column;
}

header p {
    margin: 0;
    padding: 20px;
    background-color: red;
    color: white;
    font-size: 24px;
}

header nav {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#thanks {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: lightblue; 
    width: 200px;
    height: 50px;
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article {
    flex: 1 1 280px;
    background: white;
    padding: 15px;
}

h1 {
    text-align: center;
}
