#jumpMenu {
    position: fixed;     
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;      
    color: black;
    background-color: gold;
    padding: 20px;
    display: flex;
    gap: 20px;
}

main {
    margin-left: 220px;
}

header { 
  position: sticky;
  top: 0;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thanks {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: lightblue;    
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article {
    flex: 1 1 280px;
    background: white;
    padding: 15px;
}

h1 {
    text-align: center;
}
