#jumpMenu {
    position: fixed;     
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;      
    color: yellow;
    padding: 20px;
}

main {
    margin-left: 220px;
    padding: 20px;
}

header { 
  position: sticky;
}
